* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background: url("https://images.unsplash.com/photo-1503264116251-35a269479413") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.6);
}

header .logo {
    font-size: 22px;
    font-weight: bold;
    color: salmon;
}

header nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav a:hover {
    color: #00ffff;
}

/* Main */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.container {
    background-image: url(/Challenge1/img/bg-img.jpg);
    background-size: cover;
    display: flex;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    max-width: 900px;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.container img {
    width: auto;
    height: 300px;
    border-radius: 20px;
    border: 3px solid salmon;
    box-shadow: 0 10px 20px rgba(41, 43, 43, 0.4); 
}

.text-content h1 {
    font-size: 32px;
    font-weight: 700;
}

span {
    color: salmon;
}
.text-content h2 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
}

.text-content p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.6;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin-right: 10px;
    font-size: 20px;
    color: #090909;
    text-decoration: none;
}

.social-icons a:hover {
    color: #ffffff;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00ffff;
    color: #000;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn:hover {
    background: #000;
    color: #00ffff;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    color: #ccc;
}
